<!DOCTYPE html>
<html lang="en">
    <head>
        <title>User Study on Automatic Music Accompaniment</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <div class="mybackground">
            <div class="nav-bar">
                <div class="nav-wrapper">
                    <div class="nav" id="nav_1" style="cursor:pointer">About</div>
                    <div class="nav" id="nav_2" style="cursor:pointer">User study</div>
                </div>
            </div>
            <div class="page">
                <div class="page-wrapper">
                    {% block page %}
                    {% endblock %}
                </div>
            </div>
            <div class="footer">
                <div class="footer-wrapper">
                    <span>User Study on Automatic Music Accompaniment | Research Ethics Reference No. QMREC1919</span>
                    <span class="pull-right">
                        Page powered by
                        <a href="https://www.django-rest-framework.org/" target="_blank" style="color:white">
                            Django REST Framework
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>

<script src="../static/js/ajax.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery-1.11.2.js"></script>
<script>
$(document).ready(function() {
    
    $("#nav_1").click(function() {
        var root_path = get_root_path();
        location.href = root_path;
    });

    $("#nav_2").click(function() {
        var root_path = get_root_path();
        location.href = root_path + "/consent-form";
    })
})

function get_root_path() {
    var full_path = window.document.location.href;
    var words = full_path.split('/');
    var root_path = words[0] + '//' + words[2];
    return root_path;
}
</script>