<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Power of Music</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <div class="nav-bar">
            <div class="nav-wrapper">
                <div class="nav">Hello</div>
                <div class="nav">Hello</div>
                <div class="nav">Hello</div>
                <div class="nav">Hello</div>
                <div class="nav">Hello</div>
            </div>
        </div>
        <div class="mywindow">
            <div class="page">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="page-wrapper">
                            navigator
                        </div>
                    </div>
                    <div class="col-sm-9">
                        {% block page %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="footer-wrapper">
                    <span>The Power of Music | All right reserved.</span>
                    <span class="pull-right">
                        Powered by
                        <a href="https://www.django-rest-framework.org/" target="_blank" style="color:white">
                            Django REST Framework
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>