<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>LELE'S BLOG</title>
        <meta charset="utf-8">
    </head>

    <body>
        <div>
            {% for item in ratings %}
            <div class="row">
                <div class="col-sm-3">
                    {{ item.name }}
                </div>
                <div class="col-sm-3">
                    {{ item.rating_1 }}
                </div>
                <div class="col-sm-3">
                    {{ item.rating_2 }}
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>