{% extends "base.html" %}
{% block page %}

<h3><strong>{{ name }}, thanks for your participation!</strong></h3>

<br>
Your participant serial number is: <strong>{{ serial_no }}</strong>

{% if prize %}
    <br><br>
    <strong>Congratulations!</strong> You are offered an Amazon ￡5 gift card, please provide your email for us to contact you about the card details:

    <form name="details" action="/thanks2/" onsubmit="return validateDetails()" method="POST">
    {% csrf_token %}
        <input type="hidden" name="serial_no" value="{{ serial_no }}">
        <br><br>
        Your email:
        <br>
        <textarea type="text" rows="1" class="mytextarea" style="width:70%" name="email" maxlength="100"></textarea>
        <br>
        Any note:
        <br>
        <textarea type="text" rows="3" class="mytextarea" name="note" maxlength="10000"></textarea>
        <br>

        <br><br>
        <button type="submit" class="btn btn-default mybutton">
            <strong>Submit</strong>
        </button>
    </form>
{% else %}
    <br><br>
    Unfortunately, you didn't win the Amazon gift card. If you have further questions, please feel free to contact.
{% endif %}


<br><br><br><br><br><br><br><br><br><br><br>
<h3><strong>For More Information</strong></h3>
<br>
You can visit <a href="https://www.qmul.ac.uk/privacy/" target="_blank"><strong>Queen Mary's privacy notice</strong></a> for research participants for important information about your personal data and your rights in this respect.

<br><br>
If you have any questions or concerns about the manner in which the study was conducted please, in the first instance, please contact me at lele.liu@se13.qmul.ac.uk.
<br><br>
If this is unsuccessful, or not appropriate, please contact the Secretary at the Queen Mary Ethics of Research Committee, Room W104, Queens’ Building, Mile End Campus, Mile End Road, London, E1 4NS or research-ethics@qmul.ac.uk.
<br><br>
If you have any questions relating to data protection, please contact Data Protection Officer, Queens’ Building, Mile End Road, London, E1 4NS or data-protection@qmul.ac.uk
<br><br>
<img src="../static/img/QMUL-logo.gif" style="width:300px">

{% endblock %}