{% extends "base.html" %}
{% block page %}

<h3><strong>{{ name }}, thanks for your participation!</strong></h3>

<br>
Your participant serial number is: <strong>{{ serial_no }}</strong>


<br><br>
Thanks for offering your contact details.
<br><br>
<strong>Your email:</strong> {{ email }}
<br>
<strong>Your note:</strong> {{ note }}
<br><br>
You will receive an email in a few days. If you have further questions, please feel free to contact me at lele.liu@se13.qmul.ac.uk with your name and participant serial number.

<br><br><br><br><br><br><br><br><br><br><br>
<h3><strong>For More Information</strong></h3>
<br>
You can visit <a href="https://www.qmul.ac.uk/privacy/" target="_blank"><strong>Queen Mary's privacy notice</strong></a> for research participants for important information about your personal data and your rights in this respect.

<br><br>
If you have any questions or concerns about the manner in which the study was conducted please, in the first instance, please contact me at lele.liu@se13.qmul.ac.uk.
<br><br>
If this is unsuccessful, or not appropriate, please contact the Secretary at the Queen Mary Ethics of Research Committee, Room W104, Queens’ Building, Mile End Campus, Mile End Road, London, E1 4NS or research-ethics@qmul.ac.uk.
<br><br>
If you have any questions relating to data protection, please contact Data Protection Officer, Queens’ Building, Mile End Road, London, E1 4NS or data-protection@qmul.ac.uk
<br><br>
<img src="../static/img/QMUL-logo.gif" style="width:300px">

{% endblock %}