/****************************** navigator *************************************/
.nav-bar{
    background-color:rgba(43, 43, 43, 0.65);
}
@media screen and (min-width:1200px) {
    .nav-wrapper{
        width:1200px;margin-left:auto;margin-right:auto;
    }
}
@media screen and (max-width:1200px) {
    .nav-wrapper{
        width:100%;
    }
}
.nav{
    padding:0.8em 2em 0.8em 2em;
    color:white;
    font-size:16px;font-weight:bold;text-align:center;
    display:inline-block
}
.nav:hover{
    background-color:rgba(153, 153, 153, 0.65);
}

/**************************** page background *********************************/
@media screen and (min-aspect-ratio:1/1) {
    .mybackground{
        background-image:url("../img/background1.jpg");
        background-size:100% auto;
    }
}
@media screen and (max-aspect-ratio:1/1) {
    .mybackground{
        background-image:url("../img/background2.jpg");
        background-size:100% auto;
    }
}
.mybackground{
    width:100%;
    background-color:rgb(58, 37, 56);
    background-repeat:no-repeat;
    background-position-x:center;
    background-attachment:fixed;
}

/***************************** footer sytle ******************************/
.footer{
    background-color:rgba(44, 44, 44, 0.65);color:white;
}
@media screen and (min-width:1200px) {
    .footer-wrapper{
        width:1200px;margin-left:auto;margin-right:auto;
    }
}
@media screen and (max-width:1200px) {
    .footer-wrapper{
        width:100%;
    }
}
.footer-wrapper{
    padding-top:1em;padding-bottom:1em;
}

/******************************** 主内容页面 ****************************/
@media screen and (min-width:1200px) {
    .page{
        width:1200px;margin-left:auto;margin-right:auto
    }
}
@media screen and (max-width:1200px) {
    .page{
        width:100%;
    }
}
.page-wrapper{
    right:0;
    margin:15px 0 15px 0;
    border:1px solid rgba(128, 128, 128, 0.85);
    border-radius:5px;
    padding:20px 30px 20px 30px;
    background-color:rgba(255, 255, 255, 0.85);
    font-size:18px;
    text-align:justify;
}

/******************************* button **********************************/
.mybutton{
    font-size:18px;
    border-radius:25px;
    padding:0.5em 1em 0.5em 1em;
    background-color:rgba(173, 173, 173, 0.65);
    border:none;
    outline:none !important;
}
.mybutton:hover{
    background-color:rgba(211, 211, 211, 0.65);
}
.myaudio{
    height:50px;
    outline:none;
}
.mytextarea{
    border-radius:15px;
    width:100%;
    outline:none;
    padding:0 1em 0 1em;
}
.myselect{
    width:100px;
    height:30px;
    margin:10px 0 10px 0;
    border-radius:15px;
    outline:none;
}