/****************************** navigator *************************************/
.nav-bar{
    background-color:rgba(43, 43, 43, 0.671);
    position:fixed;left:0;right:0;
}
@media screen and (min-width:1000px) {
    .nav-wrapper{
        width:1000px;margin-left:auto;margin-right:auto;
    }
}
.nav{
    width:20%;
    margin-left:-4px;padding:0.6em 0.6em 0.6em 0.6em;
    color:white;
    font-size:16px;font-weight:bold;text-align:center;
    display:inline-block
}
.nav:hover{
    background-color:rgba(153, 153, 153, 0.349);
}

/**************************** page background *********************************/
@media screen and (min-aspect-ratio:1920/1185){
    .page{
        background-image:url("../img/background1.jpg");
        background-color:rgba(31, 71, 130);
        background-size:100% auto;
        background-repeat:no-repeat;
        background-position-x:center;
        background-attachment:fixed;
    }
}
@media screen and (min-aspect-ratio:1/1) and (max-aspect-ratio:1920/1185) {
    .page{
        background-image:url("../img/background1.jpg");
        background-color:rgba(31, 71, 130);
        background-size:auto 100%;
        background-repeat:no-repeat;
        background-position-x:center;
        background-attachment:fixed;
    }
}
@media screen and (max-aspect-ratio:1/1) {
    .page{
        background-image:url("../img/background2.jpg");
        background-color:rgba(31, 71, 130);
        background-size:100% auto;
        background-repeat:no-repeat;
        background-position-x:center;
        background-attachment:fixed;
    }
}

/***************************** footer sytle ******************************/
.footer{
    background-color:rgba(44, 44, 44, 0.65);color:white;
}
.footer-wrapper{
    width:1000px;margin-left:auto;margin-right:auto;
    padding-top:1em;padding-bottom:1em;
}