.nav-bar{
    background-color:rgb(18, 94, 180);
    position:fixed;left:0;right:0;
}
.nav-wrapper{
    width:1000px;margin-left:auto;margin-right:auto;
}
.nav{
    width:20%;
    margin-left:-4px;padding:0.5em 0.5em 0.5em 0.5em;
    color:white;
    font-size:20px;font-weight:bold;text-align:center;
    display:inline-block
}
.nav:hover{
    background-color:rgb(56, 143, 220);
}

.page{
    background-image:url("../img/background.jpg");
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position-x:center;
    background-attachment:fixed;
}